<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>침입 리스트 관리</title>
<link href="../static/mystyle.css" type="text/css" rel="stylesheet">
</head>
<body>
<h3>인식된 침입 모두 출력</h3>
<hr>
<table>
<thead>
<tr><td>날짜</td><td>거리</td></tr>
</thead>
<tbody>
{% for date, dis in alert.items() %}
<tr>         
    <td>{% print(date) %}</td><td>{% print(dis) %}</td>
</tr>
 <td>
    <img src="../data/image_{{ date }}.jpg" width="640" height="480" alt="image_{{ date }}" />
</td>
{% endfor %}
</tbody>
</table>
</br></br>
<form action="/" method="get">
    <input type="submit" value="처음으로 돌아가기">
</form>
<p>
<hr>
</body>
</html>